body{
  background-color:black;
}
h2{
  text-decoration-style:inherit;
  text-decoration-color:darkred;
  text-align:center;
  color:beige;
}
.lead{
  color: rgb(125, 153, 206);
}
p{
  color:aqua;
}
.raghav-centerheader {
  background-image: b.jpg;
  text-align:center;
}
.profile-pic {
  border-radius: 60%;
}
#intouch{
  background-color:rgb(245, 162, 135);
  color:darkslategrey;
}
#coursera_certificates{
  color:lightgreen;
}
#who{
  color:lightgreen;
}
#langlist{
  color:rgb(159, 230, 159);
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa-facebook-f{
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  color: #3B5998;
}
.fa-linkedin-in{
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  color:cyan;
}
.fa-instagram {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  color:black;
}
#achieved{
  padding:18px;
}
#edudetails{
  margin-left:5px;
  padding:18px;
}
#raghav-About{
  margin-left:5px;
  padding:18px;
}
